﻿@{
    var footer = ViewData["Footer"] ?? "Default Footer";
}

<footer class="text-center border-top footer text-muted">
    <div class="container">
        <p>&copy;2021 - Net.Mentoring - @footer</p>
    </div>
</footer>