﻿@using Net.Mentoring.One.Components
@{
    var path = Context.Request.Path;
    if (path.HasValue && path.Value != "/")
    {
        var crumbs = path.Value.Split('/').Where(v => v.Any()).ToList();
        @(await Component.InvokeAsync<BreadCrumbs>(crumbs))
    }
}

<header>
    <div>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Categories" asp-action="GetCategories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Products" asp-action="GetProducts">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Administration" asp-action="Index">Users</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>@User.Identity.Name</p>

                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Logout"/>
                    </form>
                }
                else
                {
                    <div class="position-absolute top-50 end-0  d-flex justify-content-around">
                        <a class="nav-link text-white translate-middle-y" asp-controller="Account" asp-action="Login">Login</a>
                        <a class="nav-link text-white translate-middle-y" asp-controller="Account" asp-action="Register">Register</a>
                    </div>
                }
            </div>
        </nav>

    </div>
</header>