﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Net.Mentoring</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>

<partial name="_Header"/>

<div class="container body-content">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<partial name="_Footer"/>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@* <environment exclude="Development"> *@
@*     <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js" *@
@*             asp-fallback-src="~/lib/jquery/jquery.min.js" *@
@*             asp-fallback-test="window.jQuery" *@
@*             crossorigin="anonymous" *@
@*             integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"> *@
@*         </script> *@
@*     <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" *@
@*             asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js" *@
@*             asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" *@
@*             crossorigin="anonymous" *@
@*             integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"> *@
@*         </script> *@
@* </environment> *@

@RenderSection("Scripts", required: false)
</body>
</html>