﻿@{
    ViewData["Title"] = "Categories";
    ViewData["Footer"] = "User shouldn't edit categories!";
    Layout = "_Layout";
    var headers = new List<string>
    {
        "CategoryId", "CategoryName", "Description", "Image"
    };
}
@using Net.Mentoring.One.Helpers.Html
@model IEnumerable<GetCategoryViewModel>

<div>
    <h2>Categories</h2>
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                @{
                    foreach (var header in headers)
                    {
                        <th scope="row">
                            @header
                        </th>
                    }
                }
            </tr>
            </thead>
            @{
                if (Model != null)
                {
                    <tbody>
                    @{
                        foreach (var data in Model)
                        {
                            <tr>
                                <td>
                                    <a class="list-group-item-action"
                                       asp-controller="Categories"
                                       asp-action="GetCategory"
                                       asp-route-id="@data.Id"
                                       aria-current="true">
                                        @data.Id
                                    </a>
                                </td>
                                <td>@Html.ImageLinkFor("Products", data.CategoryName)</td>
                                <td>@data.Description</td>
                                <td>
                                    <img
                                        src="/Images/Categories/@data.CategoryName"
                                        class="rounded float-start"
                                        style="width: 100px; height: 100px;"
                                        alt="">
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                }
            }
        </table>
    </div>
</div>