﻿@model GetCategoryViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="input-group flex-nowrap">
    <div class="card-body">
        <h2>"<image-link image-folder="Categories" image-name="@Model.CategoryName">@Model.CategoryName</image-link>" Category</h2>
        <form enctype="multipart/form-data" method="post" asp-controller="Categories" asp-action="UpdateCategory">

            <div>
                <img
                    src="/Images/Categories/@Model.CategoryName"
                    class="rounded float-start"
                    style="width: 200px; height: 200px;"
                    alt="">
                <dl>
                    <dt>
                        <label asp-for="@Model.PictureFile"></label>
                    </dt>
                    <dd>
                        <input asp-for="@Model.PictureFile" type="file">
                    </dd>
                </dl>
            </div>

            <div>
                <div>
                    <label asp-for="Id">Category Id:</label><br/>
                    <input type="text" asp-for="Id" placeholder="@Model.Id"/>
                    <span class="text-danger" asp-validation-for="Id"></span>
                </div>
            </div>

            <div>
                <div>
                    <label asp-for="CategoryName">Category Name:</label><br/>
                    <input type="text" asp-for="CategoryName" placeholder="@Model.CategoryName"/>
                    <span class="text-danger" asp-validation-for="CategoryName"></span>
                </div>
            </div>

            <div>
                <div>
                    <label asp-for="Description">Description:</label><br/>
                    <input type="text" asp-for="Description" placeholder="@Model.Description"/>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>

            <div>
                <input asp-controller="Categories"
                       asp-action="UpdateCategory"
                       asp-route-categoryId="@Model.Id"
                       type="submit"
                       value="Submit"/>
            </div>

        </form>
    </div>
</div>