﻿@{
    var categories = new List<string>
    {
        "Condiments",
        "Dairy Products",
        "Produce",
        "MeatPoultry",
        "GrainsCereals"
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Net.Mentoring</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>

<partial name="_Header"/>
<div class="container body-content text text-center">
    <main role="main" class="pb-3">
        <div class="position-sticky">
            <div class="position-relative">
                @foreach (var category in categories)
                {
                    <img
                        src="/Images/Categories/@category"
                        class="rounded"
                        style="width: 100px; height: 100px;"
                        alt="">
                }
            </div>
            @RenderBody()
        </div>

    </main>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>