﻿@page

<div>
    <h2>All Products</h2>
    <ul id="products" />
  </div>

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
  <script>
    var uri = 'https://localhost:6001/api/Products';

    $(document).ready(function () {
      $.getJSON(uri)
          .done(function (data) {
            $.each(data, function (key, item) {
              $('<li>', { text: formatItem(item) }).appendTo($('#products'));
            });
          });
    });

    function formatItem(item) {
      return item.productName;
    }

    function find() {
      $.getJSON(uri)
          .done(function (data) {
            $('#product').text(formatItem(data));
          })
          .fail(function (jqXHR, textStatus, err) {
            $('#product').text('Error: ' + err);
          });
    }
  </script>
