﻿@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "_Layout";
}

<h1>Forgot Password Confirmation</h1>
<p>
    The link has been sent, please check your email to reset your password.
</p>