﻿@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_Layout";
}
@model Net.Mentoring.One.Data.Model.IdentityViewModels.ForgotPasswordModel

<h1>Forgot Password</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>