﻿@{
    ViewData["Title"] = "Login Page";
    Layout = "_Layout";
}
@model Net.Mentoring.One.Data.Model.IdentityViewModels.LoginViewModel

<div class="form-signin">
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <img class="mb-4" src="@Model.ImageUrl" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-floating">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label asp-for="Email" for="floatingInput">Email address</label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label asp-for="Password" for="floatingPassword">Password</label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="checkbox mb-3">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" type="checkbox">Remember me
                <span asp-validation-for="RememberMe"></span>
            </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <div>
            <div class="form-group">
                <a class="nav-link" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
                <a class="nav-link" asp-controller="Account" asp-action="SignIn">Login with Azure</a>
            </div>
        </div>
    </form>
</div>