﻿@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";
}
@using Net.Mentoring.One.Models.Identity
@using Microsoft.AspNetCore.Identity
@model List<Net.Mentoring.One.Models.Identity.User>
@inject SignInManager<User> _signInManager

<div>
    <h2>All users</h2>
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
            </thead>
            @{
                if (Model != null)
                {
                    <tbody>
                    @{
                        foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@_signInManager.UserManager.GetRolesAsync(user).Result.Aggregate((x,y) => $"{x},{y}")</td>
                            </tr>
                        }
                    }
                    </tbody>
                }
            }
        </table>
    </div>
</div>