﻿@model Net.Mentoring.One.View.Model.Products.PostProductViewModel;

<div class="input-group flex-nowrap">
    <div class="card-body"> 
        <h2>Add New Product</h2>
        <form method="post" asp-controller="Products" asp-action="AddProduct">
            <div>
                <div>
                    <label asp-for="ProductName">Product Name:</label><br/>
                    <input type="text" asp-for="ProductName"/>
                    <span class="text-danger" asp-validation-for="ProductName"></span>
                </div>

                <div>
                    <label asp-for="SupplierId">Supplier Company Name:</label><br/>
                    <select asp-for="SupplierId" class="form-select" aria-label="Supplier Id">
                        @{
                            foreach (var product in Model.Suppliers)
                            {
                                <option value="@product.Key">@product.Value</option>
                            }
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="SupplierId"></span>
                </div>

                <div>
                    <label asp-for="CategoryId">Category Name:</label><br/>
                    <select asp-for="CategoryId" class="form-select" aria-label="Category Name">
                        @{
                            foreach (var product in Model.Categories)
                            {
                                <option value="@product.Key">@product.Value</option>
                            }
                        }
                    </select><br/>
                </div>

                <div>
                    <label asp-for="QuantityPerUnit">Quantity PerUnit:</label><br/>
                    <input type="text" asp-for="QuantityPerUnit"/>
                    <span class="text-danger" asp-validation-for="QuantityPerUnit"></span>
                </div>

                <div>
                    <label asp-for="UnitPrice">Unit Price:</label><br/>
                    <input type="text" asp-for="UnitPrice"/>
                    <span class="text-danger" asp-validation-for="UnitPrice"></span>
                </div>

                <div>
                    <label asp-for="UnitsInStock">Units In Stock:</label><br/>
                    <input type="text" asp-for="UnitsInStock"/>
                    <span class="text-danger" asp-validation-for="UnitsInStock"></span>
                </div>

                <div>
                    <label asp-for="UnitsOnOrder">Units On Order:</label><br/>
                    <input type="text" asp-for="UnitsOnOrder"/>
                    <span class="text-danger" asp-validation-for="UnitsOnOrder"></span>
                </div>

                <div>
                    <label asp-for="ReorderLevel">Reorder Level:</label><br/>
                    <input type="text" asp-for="ReorderLevel"/>
                    <span class="text-danger" asp-validation-for="ReorderLevel"></span>
                </div>

                <div>
                    <label asp-for="Discontinued">Discontinued"</label><br/>
                    <input type="text" asp-for="Discontinued"/>
                    <span class="text-danger" asp-validation-for="Discontinued"></span>
                </div>

                <div>
                    <input type="submit" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}