﻿@{
    ViewData["Title"] = "Products";
    var headers = new List<string>
    {
        "ProductId", "ProductName", "Supplier", "Category", "QuantityPerUnit", "UnitPrice", "UnitsInStock", "UnitsOnOrder", "ReorderLevel", "Discontinued"
    };
}

@model IEnumerable<GetProductViewModel>;

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            @{
                foreach (var header in headers)
                {
                    <th scope="row">
                        @header
                    </th>
                }
            }
        </tr>
        </thead>
        @{
            if (Model != null)
            {
                <tbody>
                @{
                    foreach (var data in Model)
                    {
                        <tr>
                            <td>
                                <a class="list-group-item-action"
                                   asp-controller="Products"
                                   asp-action="GetProduct"
                                   asp-route-productId="@data.ProductId"
                                   aria-current="true">
                                    @data.ProductId
                                </a>
                            </td>
                            <td>@data.ProductName</td>
                            <td>@data.Suppliers[data.SupplierId]</td>
                            <td>@data.Categories[data.CategoryId]</td>
                            <td>@data.QuantityPerUnit</td>
                            <td>@data.UnitPrice</td>
                            <td>@data.UnitsInStock</td>
                            <td>@data.UnitsOnOrder</td>
                            <td>@data.ReorderLevel</td>
                            <td>@data.Discontinued</td>
                        </tr>
                    }
                }
                </tbody>
            }
        }
    </table>
</div>