﻿@model GetProductViewModel;

<div class="input-group flex-nowrap">
    <div class="card-body">
        <h2>"@Model.ProductName" Product</h2>
        <form method="post" asp-controller="Products" asp-action="UpdateProduct">
            <div>
                <div>
                    <label asp-for="ProductName">Product Name:</label><br/>
                    <input type="text" asp-for="ProductName" placeholder="@Model.ProductName"/>
                    <span class="text-danger" asp-validation-for="ProductName"></span>
                </div>

                <div>
                    <label asp-for="SupplierId">Supplier Company Name:</label><br/>
                    <select asp-for="SupplierId" class="form-select" aria-label="Supplier Id">
                        @{
                            foreach (var product in Model.Suppliers)
                            {
                                <option value="@product.Key">@product.Value</option>
                            }
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="SupplierId"></span>
                </div>

                <div>
                    <label asp-for="CategoryId">Category Name:</label><br/>
                    <select asp-for="CategoryId" class="form-select" aria-label="Category Name">
                        @{
                            foreach (var product in Model.Categories)
                            {
                                <option value="@product.Key">@product.Value</option>
                            }
                        }
                    </select><br/>
                </div>

                <div>
                    <label asp-for="QuantityPerUnit">Quantity PerUnit:</label><br/>
                    <input type="text" asp-for="QuantityPerUnit" placeholder="@Model.QuantityPerUnit"/>
                    <span class="text-danger" asp-validation-for="QuantityPerUnit"></span>
                </div>

                <div>
                    <label asp-for="UnitPrice">Unit Price:</label><br/>
                    <input type="text" asp-for="UnitPrice" placeholder="@Model.UnitPrice"/>
                    <span class="text-danger" asp-validation-for="UnitPrice"></span>
                </div>

                <div>
                    <label asp-for="UnitsInStock">Units In Stock:</label><br/>
                    <input type="text" asp-for="UnitsInStock" placeholder="@Model.UnitsInStock"/>
                    <span class="text-danger" asp-validation-for="UnitsInStock"></span>
                </div>

                <div>
                    <label asp-for="UnitsOnOrder">Units On Order:</label><br/>
                    <input type="text" asp-for="UnitsOnOrder" placeholder="@Model.UnitsOnOrder"/>
                    <span class="text-danger" asp-validation-for="UnitsOnOrder"></span>
                </div>

                <div>
                    <label asp-for="ReorderLevel">Reorder Level:</label><br/>
                    <input type="text" asp-for="ReorderLevel" placeholder="@Model.ReorderLevel"/>
                    <span class="text-danger" asp-validation-for="ReorderLevel"></span>
                </div>

                <div>
                    <label asp-for="Discontinued">Discontinued:</label><br/>
                    <input type="text" asp-for="Discontinued" placeholder="@Model.Discontinued"/>
                    <span class="text-danger" asp-validation-for="Discontinued"></span>
                </div>

                <div>
                    <input asp-controller="Products"
                           asp-action="UpdateProduct"
                           asp-route-productId="@Model.ProductId"
                           type="submit"
                           value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>