﻿@{
    ViewData["Title"] = "Products";
}

<div>
    <h2>Products</h2>
    <div>
        <a class="nav-link text-dark"  asp-controller="Products" asp-action="AddProduct">
            <button class="btn btn-primary">Add New</button>
        </a>
    </div>
    <div>
        @await Html.PartialAsync("AllProducts")
    </div>
</div>