﻿@model List<string>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">@Model.First()</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Last()</li>
    </ol>
</nav>